    <div class="layout-top">
      <div class="logo-cell"><img class="logo-cross" width="16px" height="16px" src="./assets/frontend/cross.svg"
        alt="cross"><img width="16px" height="16px" src="./assets/frontend/circle.svg" alt="circle"></div>
    <div class="turn">Tour : <span>{{ gameState.round_count }}</span></div>

      <div class="reset-cell" (click)="resetGame()"><img width="16px" height="16px" src="./assets/frontend/reset.svg"
        alt="reset"></div>
    </div>
    <div class="layout-content">
      <div class="board-container">
        <button *ngFor="let cell of cells" class="board-cell" (click)="handleCellClick($event)" [value]="cell.id">
          <img *ngIf="cell.selected" [src]="cell.image_url" width="32px" height="32px">
        </button>
      </div>
    </div>
    <div class="layout-bottom">
      <div class="player-cell">
        <h2 class="score-name">Vous</h2>
        <h3 class="score-value">{{gameState.player_score}}</h3>
      </div>
      <div class="cpu-cell">
        <h2 class="score-name">CPU</h2>
        <h3 class="score-value">{{gameState.cpu_score}}</h3>
      </div>
  
    </div>

    <div class="modal" *ngIf="modal.show"><h1>{{modal.winner}} remporte la manche</h1></div>