* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lexend;
}

:root {
    --clr-main : #1A2B33;
    --clr-secondary : #142730;
    --clr-main-dark : #11212B;
    --clr-tertiary : #1E3640;
    --clr-player : #31C6BB;
    --clr-cpu : #EFB335;
    --clr-grey : #A9BFC7;
}

body {
    background-color: var(--clr-main);
}